[Unit]
Description=PKT Miner
After=network.target

[Service]
User=PKTUSER
ExecStart=/bin/bash TARGETPATH/pkt_mining.sh
Restart=always

[Install]
WantedBy=multi-user.target