[Unit]
Description=PKT Wallet
After=network.target

[Service]
User=PKTUSER
ExecStart=TARGETPATH/pktd/bin/pktwallet
Restart=always

[Install]
WantedBy=multi-user.target