[Unit]
Description=PKT Stats
After=network.target

[Service]
ExecStart=/bin/bash TARGETPATH/pkt_stats.sh
Restart=always

[Install]
WantedBy=multi-user.target