[Unit]
Description=PKT Wallet balance
After=network.target

[Service]
User=PKTUSER
ExecStart=/bin/bash TARGETPATH/pkt_balance.sh
Restart=always

[Install]
WantedBy=multi-user.target