[Unit]
Description=PKT Check services
After=network.target

[Service]
ExecStart=/bin/bash [TARGET]/pkt_chksvc.sh
Restart=always

[Install]
WantedBy=multi-user.target